version: '3.8'
services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      - TOKEN=${TOKEN}
    volumes:
      - ./discord.db:/bot/discord.db
    working_dir: /bot
    command: python bot.py
    restart: always
